#guide_box .big_box{margin-top: 0;}
#head_nav .register_box,#logo .box,#navbox .nav,#guide_box .big_box,#serves .servers,#guide_box .big_box .box,#foot .center{width: 990px;}
#guide_box .big_box .box .top .lunbo{width: 902px;}
#guide_box .big_box .box .top .lunbo .long ul {width: 901px;}
#guide_box .big_box .box .bottom ul{width: 440px;}
#guide_box .big_box .box .bottom ul.part2{margin-left: 51px;}
#navbox .nav .ul1 li{width:60px}
#navbox .nav .ul2 li{margin-right: 14px;}
#navbox .nav .ul2{margin-left: 80px;}
#serves .servers .ul1{width: 988px;}
#serves .servers .list dl{width: 115px;}
#foot .center .end{left: 130px;}
/*================顶部样式开始*/
#posi_now,#zhuTu,#guide_box,#others,#xiangqing{width: 100%;background: #fff;background: #fff;}
#head_img div a{display:block;width: 1308px;height: 45px;background:url("img/top_bg2.png");margin: 0 auto;}
/*================当前位置样式开始*/
.posi_now{width: 990px;height: 28px;line-height: 28px;margin: 0 auto;}
.posi_now a{color: #3366cc;}
/*================主图样式开始*/
.zhuTu{width: 990px;height: 615px;margin: 0 auto;position: relative}
.zhuTu .bigImg{display: none;overflow: hidden;width:480px;height:480px;position: absolute;border: solid 1px #000;left: 500px;top: 0px;}
.zhuTu .bigImg img{position: absolute;}
.zhuTu .part1{width: 482px;}
.zhuTu .part1 .big_div .fdaj{display: none;left: 0;top: 0;width: 240px;height: 240px;background: #e8e5e5;opacity: .2;filter: alpha(opacity:20);position: absolute;z-index: 1000;}
.zhuTu .part1 .big_div{position: relative;border: solid 1px #eaeaea;}
.zhuTu .part1 .big{height: 480px;width: 480px;position: relative;}
.zhuTu .part1 .big li{position: absolute;left: 0;top: 0;}
.zhuTu .part1 .big li.li01{z-index: 1;}
.zhuTu .part1 .small{height: 66px;padding-top: 11px;width: 480px;}
.zhuTu .part1 .small li{float: left;margin-right: 3px;padding-top: 5px;}
.zhuTu .part1 .small li img{border: solid 1px #dddddd;}
.zhuTu .part1 .small .last{margin-right: 0px;}
.zhuTu .part1 .share{width: 463px;padding-top: 17px;overflow: hidden;}
.zhuTu .part1 .share p{padding-top: 3px;}
.zhuTu .part1 .share li{float: left;margin-right: 15px;}
.zhuTu .part1 .share li img{display: inline-block;}
.zhuTu .part2{width: 490px;margin-left: 18px;}
.zhuTu .part2 h4{line-height: 31px;width: 425px;}
.zhuTu .part2 .name{width: 490px;height: 16px;padding-top: 5px;}
.zhuTu .part2 .name .a1{color: #3366cc;display: inline-block;padding-left: 20px;background: url(../images/shang.png) no-repeat 0 0;}
.zhuTu .part2 .name .a2{color: #aaa;}
.zhuTu .part2 .price{height: 30px;width: 490px;padding-top: 24px;position: relative;}
.zhuTu .part2 .price .nmber{font-size: 25px;font-weight: bold;color: #ff5000;}
.zhuTu .part2 .price i{font-style: normal;display: inline-block;font-size: 11px;font-weight: bold;color: #aaa;}
.zhuTu .part2 .price i.i01{text-decoration: line-through;padding-left: 12px;}
.zhuTu .part2 .price i.i02{padding-left: 22px;}
.zhuTu .part2 .price a{position: absolute;top: 15px;right: 0;color: #aaa;}
.zhuTu .part2 .pinJia{width: 490px;height: 22px;margin-top: 24px;line-height: 22px;margin-bottom: 8px;}
.zhuTu .part2 .pinJia .star{display: inline-block;height: 12px;width: 62px;background: url(img/stars_bg.png);}
.zhuTu .part2 .pinJia .su{padding-left: 8px;color: #ff5000;}
.zhuTu .part2 .pinJia .pin{color: #3366cc;padding-left: 10px;}
.zhuTu .part2 .sku{padding-left: 10px;height: 226px;width: 478px;border: solid 1px #f6c799;background: #fffdf4;}
.zhuTu .part2 .sku .color{padding-top: 16px;height: 47px;}
.zhuTu .part2 .sku  .color .text{width: 34px;line-height: 20px;display: inline-block;height: 44px;}
.zhuTu .part2 .sku  .tu{display: inline-block;}
.zhuTu .part2 .sku  .tu a{position: relative;}
.zhuTu .part2 .sku .color .tu a{display: inline-block;width: 42px;height: 42px;border: solid 1px #ddd;margin-right: 12px;}
.zhuTu .part2 .sku .size{height: 20px;padding-top: 15px;}
.zhuTu .part2 .sku .size .text{width: 34px;height: 20px;display: inline-block;line-height: 20px;}
.zhuTu .part2 .sku .size .tu a{position: relative;display: inline-block;width: 32px;height: 18px;border: solid 1px #ececec;margin-right: 14px;text-align: center;line-height: 18px;}
.zhuTu .part2 .sku .tu a i{text-indent: -1000px;overflow: hidden;position: absolute;right: 0;bottom: 0;height: 12px;width: 12px;display: none;}
.zhuTu .part2 .sku .count{height: 20px;padding-top: 13px;line-height: 20px;}
.zhuTu .part2 .sku .count .text{width: 32px;height: 20px;line-height: 20px;display: inline-block;}
.zhuTu .part2 .sku .count .jian,.zhuTu .part2 .sku .count .jia{width: 11px;height: 11px;display: inline-block;background: url(img/jianhao.png);line-height: 11px;text-indent: 1000px;}
.zhuTu .part2 .sku .count .jia{background: url(img/jiahao.png);}
.zhuTu .part2 .sku .count .number{text-align: center;display: inline-block;width: 25px;height: 18px;border: solid 1px #dddddd;}
.zhuTu .part2 .sku .count .shuxin{color: #ff5000;}
.zhuTu .part2 .sku .shuoMing{height: 41px;line-height: 41px;color: #999999;font-weight: bold;}
.zhuTu .part2 .sku .buy span{display: inline-block;float: left;cursor: pointer;}
.zhuTu .part2 .sku .buy .sp01,.zhuTu .part2 .sku .buy .sp02{margin-right: 14px;}
.zhuTu .part2 .shouChang{height: 30px;	padding-left: 10px;padding-top: 19px;}
.zhuTu .part2 .shouChang li{float: left;height: 20px;line-height: 20px;padding-right: 62px;}
.zhuTu .part2 .shouChang li i{float: left;height: 20px;width: 20px;background: url(../images/shouchang.png) no-repeat;}
.zhuTu .part2 .shouChang li i{float: left;}
.zhuTu .part2 .baozhang{height: 48px;border: solid 2px #f0f0f0;background: #fbfbfb;}
.zhuTu .part2 .baozhang dt{font-weight: bold;color:#aaa;width: 40px;float: left;background: #f0f0f0;height: 39px;padding-left: 12px;padding-top: 9px;line-height: 17px;}
.zhuTu .part2 .baozhang dd{float: left;width: 418px;height: 44px;padding-top: 4px;padding-left: 16px;}
.zhuTu .part2 .baozhang dd a{line-height: 22px;display: inline-block;margin-right: 35px;}
.zhuTu .part2 .baozhang dd a .sp{display: inline-block;width: ;}
.zhuTu .part2 .baozhang dd a .sp img{display: inline-block;}
/*其他用户的浏览记录推荐选项卡开始*/
.others{width: 988px;height: 282px;border: solid 1px #dddddd;margin: 0 auto;position: relative;}
.others h4{padding-left: 12px;line-height: 22px;}
.others ul{padding-left: 55px;}
.others li{float: left;width: 160px;height: 260px;margin-right: 20px;}
.others ul li p{line-height: 18px;}
.others ul li b{color: #e60012;}
.others ul li b i{font-style: normal;font-weight: normal;font-size: 9px;color: #aaaaaa;text-decoration: line-through;}
.others .prev{position: absolute;left: 8px;top: 124px;cursor: pointer;}
.others .next{position: absolute;right: 8px;top: 124px;cursor: pointer;}
/*商品详情展示开始*/
.xiangqing{width: 990px;overflow: hidden;padding-top: 20px;margin: 0 auto;}
.xiangqing .part1{width: 796px;}
.xiangqing .part1 .tab{height: 31px;width: 796px;border-bottom: solid 2px #472c21;}
.xiangqing .part1 .tab ul{color: #535353;padding-left: 1px;overflow: hidden;width: 605px;height: 31px;}
.xiangqing .part1 .tab li{margin-left: -1px;float: left;height: 30px;padding: 0 18px;border: solid 1px #ccc ;border-bottom: 0 ;text-align: center;line-height: 30px;}
.xiangqing .part1 .tab li span{font-size: 10px;font-weight: bold;color: red;}
.xiangqing .part1 .tab .li01{color: #fff;background: #472c21;border-color: #472c21;}
.xiangqing .part2{width: 185px;margin-left:6px;}
.xiangqing .part2 dl{border: solid 1px #dddddd;margin-bottom: 40px;}
.xiangqing .part2 dl dt{height: 30px;line-height: 30px;text-align: center;border-bottom: solid 1px #ddd;}
.xiangqing .part2 li{float: left;width: 160px;height: 260px;margin-right: 20px;}
.xiangqing .part2 dl dd p{line-height: 18px;}
.xiangqing .part2 dl dd b{color: #e60012;}
.xiangqing .part2 dl dd{padding-left: 10px;}
.xiangqing .part2 dl dd b i{font-style: normal;font-weight: normal;font-size: 9px;color: #aaaaaa;text-decoration: line-through;}



.car_box{width: 988px;border: solid 1px #eeeeee;min-height: 203px;margin: 0 auto;}
.car_box .shuxing{height: 42px;border-bottom: solid 1px #eee;}
.car_box .shuxing p{display: inline-block;}
.car_box .shuxing .checkall{padding-left: 20px;padding-top: 13px;}
.car_box .shuxing .checkall a i{width: 15px;height: 13px;background: url(img/checkes_bg.png) -17px -197px;display: inline-block;}
.car_box .shuxing .goodsName{padding-left: 149px;}
.car_box .shuxing .color{padding-left: 205px;}
.car_box .shuxing .price{padding-left: 75px;}
.car_box .shuxing .count{padding-left: 87px;}
.car_box .shuxing .xiaoji{padding-left: 75px;}
.car_box .shuxing .caozuo{padding-left: 70px;}
.car_box .goodsDetil ul li{height: 102px;width: 100%;border-bottom: dashed 1px #eee;}
.car_box .goodsDetil ul li .check{display: inline-block;padding-left: 10px;}
.car_box .goodsDetil ul li .check i{width: 15px;height: 13px;background: url(img/checkes_bg.png) -17px -197px no-repeat;display: inline-block;}
.car_box .goodsDetil ul li p{display: inline-block;vertical-align: middle;}
.car_box .vertical{display: inline-block;height: 100%;width: 0;vertical-align: middle;}
.car_box .goodsDetil ul li .img{width: 72px;height: 72px;border:solid 1px #eee ;display: inline-block;text-indent: -10000px;margin-left: 9px;}
.car_box .goodsDetil ul li .title{width: 245px;padding-left: 24px;line-height: 16px;}
.car_box .goodsDetil ul li .color{width: 117px;height: auto;padding-left: 70px;}
.car_box .goodsDetil ul li .color a{color: #a9a9a9;}
.car_box .goodsDetil ul li .color i{font-style: normal;color: #666;}
.car_box .goodsDetil ul li .danjia{width: 45px;height: auto;text-align: center;}
.car_box .goodsDetil ul li .shuliang{padding-left: 55px;}
.car_box .goodsDetil ul li .shuliang a{display: inline-block;height: 22px;width:22px;border: solid 1px #c6c6c6;margin-left: -1px;text-align: center;line-height: 22px;}
.car_box .goodsDetil ul li .jiage{width: 54px;height: auto;color: #e60012;font-weight: bold;text-align: center;margin-left: 45px;}
.car_box .goodsDetil ul li .del{text-align: center;padding-left: 45px;}
.car_box .yiru{height: 47px;padding-top: 16px;padding-left: 13px;}
.car_box .yiru a{padding-right: 37px;}
.car_box .yiru .acheck i{width: 15px;height: 13px;background: url(img/checkes_bg.png) -17px -197px;display: inline-block;}
.car_box .bottom{height: 54px;width: 953px;background: #eeeeee;padding-left: 36px;}
.car_box .bottom a{display: inline-block;vertical-align: middle}
.car_box .bottom .jixu{height: 39px;width: 123px;background: #fdf8f1;border: solid 1px #ffdd98;font-size: 16px;text-align: center;line-height: 39px;border-radius: 2px;}
.car_box .bottom .kong{color: #3366cc;padding-left: 35px;cursor: pointer;}
.car_box .bottom .kong:hover{color: red;}
.car_box .bottom .zong{font-weight: bold;padding-left: 390px;}
.car_box .bottom .zong i{font-style: normal;font-size: 16px;font-weight: bolder;color: red;}
.car_box .bottom .jie{float: right;height: 54px;width: 129px;background: red;color: #fff;text-align: center;line-height: 54px;}
