.clear:after{content: '.',clear:both;,display: block;,height: 0;overflow: hidden;;visibility: hidden;}
/*分类文字部分*/
#outer_box,#paiXun,#list,#fenye,#serch{width: 100%;height: 100%;background: #fff;}
#classify .classify{width: 1190px;margin: 0 auto;height: 21px;padding-top: 10px;font-size: 11px;}
#kuai{width: 100%;height: 10px;background: #fff;}
#classify .classify .more{border: solid 1px #fff;display: inline-block;position: relative;height: 17px;padding-top: 2px;}
#classify .classify .more .nav_more{display: inline-block;width: 9px;height: 5px;background: url(img/down_arrow.png);}
#classify .classify .more a{display: inline-block;padding: 0 11px;}
#classify .classify .more ul.show_hide{ display: none;background: #fff;overflow: auto;height: 220px;z-index: 30;padding-left: 15px;width: 65px;border: solid 1px #cccccc;position: absolute;left: -1px;top: 19px;}
#classify .classify .more ul.show_hide li{height: 26px;line-height: 26px;}
#classify .classify .more .xian{display: inline-block;width: 58px;height: 3px;background: #fff;position: absolute;left: 1px;top:19px;z-index: 1000;}
#classify .classify .more ul.width{width: 90px;}
#classify .classify .more .xian2{display: inline-block;width: 110px;height: 3px;background: #fff;position: absolute;left: 1px;top:19px;z-index: 1000;}
#classify .classify .keXuan{margin-right: 10px;display: inline-block;padding:0 3px;border: dashed 1px #2164a1;color: #2164a1;}
#classify .classify .keXuan i{font-style: normal;cursor: pointer;}
/*分类框部分*/
#xuanZheK .xuanZheK{width: 1190px;margin: 0 auto;height: auto;border: 1px solid #e3e3e3;border-bottom: 0;}
#xuanZheK .xuanZheK .dl01{overflow: hidden;border-bottom: solid 1px #e3e3e3;}
#xuanZheK .xuanZheK .dl01 dt{width: 98px;background: #f6f6f6;float: left;height: 69px;text-align: center;line-height: 31px;}
#xuanZheK .xuanZheK .dl01 dd{position: relative;}
#xuanZheK .xuanZheK .dl01 dd .ul1{overflow: hidden;padding-top: 15px;padding-left: 8px;width: 910px;padding-bottom: 14px;}
#xuanZheK .xuanZheK .dl01 dd .ul1 li{float: left;}
#xuanZheK .xuanZheK .dl01 dd .checkMore{position: absolute;right: 63px;top: 7px;display: inline-block;height:20px;width: 50px;background: url(img/checkMore.png);}
#xuanZheK .xuanZheK .dl01 dd .checkMore:hover{cursor: pointer;background: url(img/checkMore2.png);}
#xuanZheK .xuanZheK .dl01 dd .ul1 li a img{border-right: solid 1px #e8e8e8;}
#xuanZheK .xuanZheK .dl01 dd  .more{cursor: pointer;font-size: 11px;position: absolute;right: 17px;top: 7px;height: 20px;line-height: 20px;}
#xuanZheK .xuanZheK .dl01 dd  .more:hover{color: #e60012;}
#xuanZheK .xuanZheK .more i{display: inline-block;width: 9px;height: 5px;background: url(img/down_arrow.png) no-repeat;padding-bottom: 2px;}
/*更多切换以及相关分类公用样式*/
#xuanZheK .xuanZheK .dl01 dd .ul2{display: none;width: 923px;height: 90px;overflow-y: scroll;padding-left: 30px;}
#xuanZheK .xuanZheK dl dd .ul2 > li{width: 145px;float: left;height: 31px;line-height: 31px;}
#xuanZheK .xuanZheK dl dd .ul2 li a{color: #6666;}
#xuanZheK .xuanZheK dl dd .ul2 li a span{color: #aaaaaa;font-weight: normal;}
#xuanZheK .xuanZheK dl dd .ul2 li a:hover{color: #e60012;}
#xuanZheK .xuanZheK .dl02{border-bottom: dashed 1px #cccccc;overflow: hidden;}
#xuanZheK .xuanZheK .dl02 dd .ul2{overflow: hidden;width: 933px;height: 101px;padding-left: 20px;}
#xuanZheK .xuanZheK .dl02 dt{width: 98px;background: #f6f6f6;float: left;height: 101px;text-align: center;line-height: 31px;}
#xuanZheK .xuanZheK .dl03{overflow: hidden;border-bottom: dashed 1px #cccccc;}
#xuanZheK .xuanZheK .dl03 dt{width: 98px;background: #f6f6f6;float: left;height: 33px;text-align: center;line-height: 31px;}
#xuanZheK .xuanZheK .dl03 dd{float: left;}
#xuanZheK .xuanZheK .dl03 dd ul{padding-left: 30px;overflow: hidden;}
/*更多筛选样式*/
#xuanZheK .xuanZheK .dl04{border-bottom: dashed 1px #cccccc;height: 70px;}
#xuanZheK .xuanZheK .dl04 dt{width: 98px;background: #f6f6f6;float: left;height: 70px;text-align: center;line-height: 31px;}
#xuanZheK .xuanZheK .dl04 dd{float: left;}
#xuanZheK .xuanZheK .dl04 dd .youBian{width: 1060px;height: 70px;padding-left: 30px;}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie{float: left;width: 144px;height: 35px;line-height: 35px;}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie .fuqin{border: solid 1px #fff;position: relative;padding-left: 10px;padding-right: 10px;height: 25px;line-height: 25px;display: inline-block;}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie .fuqin span.scrow{display: inline-block;width: 9px;height: 5px;background: url(img/down_arrow.png) no-repeat;padding-bottom: 2px;}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie .fuqin .posi{display: none;position: absolute;left: -1px;top:25px ;z-index:10 ;border: solid 1px #cccccc;}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie .fuqin .posi p.more{width: 100%;height: 45px;background: #f5f5f5;position: relative;}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie .fuqin .posi p.more a{cursor: pointer;position: absolute;right: 44px;top:12px;height: 20px;width: 53px;background: url(img/shenCheck.png);}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie .fuqin .posi p.more a:hover{background: url(img/shenCheckR.png);}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie .fuqin .xian{display: none;position: absolute;width: 80px;height: 2px;left: 0px;top: 25px;background: #fff;z-index: 100000;}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie .fuqin .xiala{padding-right: 46px;padding-left: 22px;padding-top: 6px;background: #fff;z-index: 10;}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie .fuqin .xiala li{font;padding-left: 17px;height: 35px;width: 560px;line-height: 35px;border-bottom: dashed 1px #cccccc;}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie .fuqin .xiala li a{display: inline-block;width: 140px;}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie .fuqin .xiala li a:hover{color: red;}
#xuanZheK .xuanZheK .dl04 dd .youBian .nanxie .fuqin .xiala li a span{color: #aaa;}
/*排序方式开始*/
.paiXun{padding: 5px 0 ;width: 1165px;padding-left: 25px;height: 24px;background: #f5f5f5;border: solid 1px #d7d3d4;margin: 0 auto;margin-top: 10px;}
.paiXun dt{height: 23px;width: 62px;line-height: 23px;}
.paiXun dd{margin-right: 8px;float: left;}
.paiXun dd a{display: inline-block;height: 23px;width: 50px;background: #dddddd;line-height: 23px;text-align: center;}
.paiXun dd a:hover{color: #e60012;}
.paiXun dd a.bg{background: url(img/arrows_cu.png);text-indent: 8px;text-align: left;}
.paiXun .price{position: relative;padding: 5px 5px;margin-top: -5px;width: 86px;height:24px;border-right: solid 1px #f5f5f5;border-left: solid 1px #f5f5f5;}
.paiXun .price .p1{background: #fff;width: 37px;height: 21px;line-height: 21px;border: solid 1px #ccc;display: inline-block;}
.paiXun .price .p1 .money{display: inline-block;float: left;width: 8px;height: 21px;background: url(img/money.png);}
.paiXun .price .p1 input{width: 29px;height: 21px;border: none;background: none;float: left;}
.paiXun .price .center{height: 23px;line-height: 23px;width: 8px;display: inline-block;text-align: center;}
.paiXun .price .more{display: none;padding: 5px 5px;background: #fff;width: 86px;height: 20px;border: solid 1px #ccc;border-top: 0;position: absolute;left: -1px;top:29px}
.paiXun .price .more span{border: solid 1px #fff;display: inline-block;width: 37px;height: 18px;text-align: center;}
.paiXun .price .more span.bg{background: url(img/sure_bg.png);border-color: #999;}
.paiXun .red{width: 169px;height: 32px;padding-left: 15px;line-height: 32px;margin-top: -5px;}
.paiXun .red p{float: left;width: 77px;}
.paiXun .red a{background: #fff;display: inline-block;width: 11px;height: 11px;border: solid 1px #c5c5c5;}
.paiXun .red span{color: red;}
.paiXun .last{padding-right: 16px;height: 34px;width: auto;margin-top: -5px;line-height: 34px;}
.paiXun .last .shu{width: auto;}
.paiXun .last .page{display: inline-block;margin-left: 25px;}
.paiXun .last .page i{font-style: normal;}
.paiXun .last .sp01{overflow: hidden;text-indent: -1000px;display: inline-block;width: 22px;height: 20px;line-height: 20px;border: solid 1px #dddddd;background: url(img/prev_page.png)}
.paiXun .last .sp02{overflow: hidden;text-align: center;display: inline-block;width: 62px;height: 20px;line-height: 20px;border: solid 1px #dddddd;background: url(img/next_page.png);text-indent: -1000px;}
/*列表内容开始*/
.list{width: 1190px;margin: 0 auto;}
.kuai2{width: 100%;height: 16px;background: #fff;}
.list ul{overflow: hidden;}
.list ul li{width: 232px;margin-right: 6px;float: left;height: 328px;}
.list ul li a{display:block;width: 230px;height:238px;border: solid 1px #D1D1D1;background:url(img/img01_bg.png);}
.list ul li span{display: block;height: 16px;width: 232px;background: #f0a1a1;margin-top: -1px;line-height: 16px;color: #fff;text-indent: 6px;}
.list ul li p{line-height: 18px;}
.list ul li b{color: #e60012;}
.list ul li b i{font-style: normal;font-weight: normal;font-size: 9px;color: #aaaaaa;text-decoration: line-through;}
/*分页内容开始*/
.fenye{position: relative;width: 1190px;height: 154px;margin: 0 auto;border-bottom: dashed 1px #cbcbcb;}
.fenye .tuiJian{position: absolute;left: 0;bottom: 12px;}
.fenye .tuiJian i{width: 21px;height: 12px;display: inline-block}
.fenye .you{float: right;padding-top: 74px;}
.fenye .you ul{border-left: solid 1px #e5e5e5;border-bottom:  solid 1px #e5e5e5;overflow: hidden;}
.fenye .you li{float: left;padding: 0 12px;height: 38px;border-top: solid 1px #e5e5e5;border-right: solid 1px #e5e5e5;text-align: center;line-height: 38px;font-size: 10px;}
.fenye .you li.one{background: #efefef;}
.fenye .you p{height: 40px;padding-left: 10px;line-height: 40px;}
.fenye .you .sp02{text-align: center;width: 32px;height: 16px;line-height: 16px;border: solid 1px #cccccc;display: inline-block}
.fenye .you .sp03{display: inline-block;width: 44px;height: 22px;text-align: center;border: solid 1px #ccc;line-height: 22px;}
#guide_box .big_box{margin-top: 0;}
/*重新收索内容开始*/
.serch{position: relative;width: 1190px;height: 143px;margin:  0 auto;}
.serch a{display: inline-block;padding-top: 10px;margin-right: 20px;}
.serch a:hover{color: #f00;}
.serch form{position: absolute;left: 357px;top: 61px;width: 462px;height: 29px;background: url(img/form_bg02.png);outline: none;}
.serch form input{border: none;background: none;float: left;}
.serch form .text{width: 355px;height: 29px;line-height: 29px;padding-left: 5px;}
.serch form .btn{width: 102px;height: 29px;}
