#denglu .box .part1{width: 578px;}
#denglu .box .part2{padding-right: 0;width: 300px;height: 418px;}
#denglu .box .part2 .p{padding-left: 0;}
#denglu .box .part2 ul{padding-left: 0;}
#denglu .box .part2 button{width: 98px;height: 30px;background: url(img/denglu_bg.png);border: 0;margin-top: 18px;cursor: pointer;}
#denglu .box .part2 .p{padding-top: 35px;color: #000;}
#denglu .box .part2 ul{padding-top: 18px;}
#denglu .box .part2 ul li{float: left;height: 22px;line-height: 22px;}
#denglu .box .part2 ul li a{color: #3366cc;}
#denglu .box .part2 ul li i img{display: inline-block;padding-right: 8px;}
#denglu .box .part2 ul li span{display: inline-block;padding: 0  8px;}
#denglu .box .part2 .p1{padding-bottom: 14px;font-weight: bold;}
#denglu .box .part2 .p1 a{color: #000;}
#denglu .box .top{width: 990px;height: 29px;border-bottom: solid 1px #eeeeee;margin-bottom: 30px;padding-left: 100px;}
/*注册文字样式*/
#denglu .box .top a{display: inline-block;width: 98px;height: 29px;font-size: 14px;color: #666;text-align: center;line-height: 29px;}
#denglu .box .top a.email{background: url(img/email_bg.png);border: solid 1px #f8a617;border-bottom: none;}
#denglu .box .part1 .form02{display: none;}
#denglu .box .part1 form p{font-size: 14px;}
#denglu .box .part1 form p.text label{width: 101px;text-align: right;display: inline-block;margin-right: 10px;}
#denglu .box{position: relative;width: 1090px;height: 700px;margin: 0 auto;overflow: hidden;padding-top: 45px;padding-left: 100px;}
#denglu .box .part1 form p.text .yzm{width: 110px;}
#denglu .box .part1 form p.text span{color: #e70012;}
#denglu .box .part1 form p.xieYi{text-indent: 110px;}
#denglu .box .part1 form p.xieYi label{padding-left: 10px;}
#denglu .box .part1 form p.xieYi input{border: solid 1px #8e8f8f;}
#denglu .box .part1 form p.delu{text-indent: 68px;}
#denglu .box .part3{position:absolute ;bottom: 3px;}
#denglu .box .part1 form p.text span.spyz{display: inline-block;height: 23px;width: 102px;border: solid 1px #b8b8b8;color: #535353;line-height: 23px;text-align: center;font-weight: bold;margin-left: 10px;background: url(img/yzm_bg.png);border-radius: 2px;}
#denglu .box .part1 form p.delu input{background: url(img/zhuce_bg2.png);}
/*验证码样式*/
#denglu .box .part1 form p.text i{font-style: normal;display: inline-block;padding: 10px;text-align: center;}
